.flashes ul {
  margin: 0 0;
  background: #FFD6A3;
  color: #000;

  list-style-type: none;
  list-style: none;
}

article.flashes {
  margin-bottom: 1em;
}

.error, .error input , .error li{
  color: red;
}
p.error ul {
  margin-top: 0;
}
p.submit button {
  margin-top: 20px;
}
input, button {
  margin-left: 10px;
}
