{% extends "base.html" %}

{% block title %}
Thermos -- Add a URL
{% endblock %}

{% block content %}
  <section>
    <h1>Add a new URL</h1>
    <form action="" method="post">
      {{ form.hidden_tag() }}

      <p{% if form.url.errors %} class="error" {% endif %}>
        Please enter your bookmark here:
        {{ form.url(size=50)}}
        <!-- <input type="text" name="url"> -->
      </p>
      <div class="error">
        <ul>
          {% for error in form.url.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      <p>
        Add an optional description here:
        {{ form.description(size=50)}}
        <!-- <input type="text" name="description"> -->
      </p>
      <p class="submit">
        <button type="submit">Submit</button>
      </p>
    </form>
  </section>
{% endblock %}

{% block sidebar %}
{% endblock %}
